# Analise de finanças no mês
### O objetivo deste notebook é criar uma lógica de como analisar o saldo de um mês através de extratos e resumos de fatura,

O meu saldo mensal é de R$ 2896, o que eu gasto em média em contas é R$574, minha menta de aporte mensal é de 1500

In [1]:
# Esta expressão representa o que geralmente eu tenho líquido no mês para gastos comigo mesmo.
(2986-574-1500)

912

In [1]:
#import polars as pl
import pandas as pd
import os
import sys

In [23]:
''' 
 Para extrair o saldo do mês eu preciso analisar o que eu tenho de dívidas no crédito no mês, e considerar todas as transações feitas no débito
 representamos esses dados em dois dataframes, um com as faturas e outro com as transações. 
 Consideramos também o período contábil para análise, que é de um mês, caso a analise seja realizada no começo do mês, considera-se os valores
 a receber.
'''
# TODO Depois irei parametrizar os arquivos para serem passados como argumentos no momento de executar o programa.
# Busca pelos extratos nos diretorios esperados (./extratos/mêsAno) exemplo:(janeiro2024)
df_extrato = pd.read_csv("../extratos/junho2024/nubank_debito_extrato_junho2024.csv",sep=",",encoding='ISO-8859-1')
df_resumo_fatura = pd.read_csv("../extratos/junho2024/nubank_fatura_julho2024.csv",sep=",",encoding='ISO-8859-1')

In [24]:
#Dropa coluna inútil
df_extrato = df_extrato.drop(columns="Identificador")

In [38]:
# Ajusta nomes das categorias das compras
df_resumo_fatura['category'] = df_resumo_fatura['category'].str.replace("saÃºde","saude").str.replace("serviÃ§os","serviços").str.replace("educaÃ§Ã£o","educação").str.replace("eletrÃ´nicos","eletronicos").str.replace("vestuÃ¡rio","vestuario")

In [45]:
# Listrando transações a partir de um tipo
df_resumo_fatura.loc[df_resumo_fatura['category'].eq('restaurante')]

           date category               title  amount
1    2024-06-30  payment  Pagamento recebido  -15.00
47   2024-06-22  payment  Pagamento recebido  -55.00
58   2024-06-20  payment  Pagamento recebido -577.24
72   2024-06-15  payment  Pagamento recebido -120.00
92   2024-06-10  payment  Pagamento recebido -187.85
99   2024-06-09  payment  Pagamento recebido  -45.00
107  2024-06-07  payment  Pagamento recebido -640.29
119  2024-06-03  payment  Pagamento recebido  -65.00
124  2024-05-31  payment  Pagamento recebido -247.31
125  2024-05-31  payment  Pagamento recebido -356.69

In [41]:
#Somando por categoria e exibindo resumo.
df_fatura_agrupada = df_resumo_fatura.groupby(['category']).sum()
df_fatura_agrupada.drop(columns="date")

,title,amount
category,,
casa,Quiosque Outlet Metro,12.00
charge,Vinicius Eleuterio SeabraWILSON GAVA DO NASCIM...,12.25
discount_installments,Desconto AntecipaÃ§Ã£o Pg *Ton Ton.Com.Br,-5.58
educação,Pag*Folhadespaulo,1.90
eletronicos,Mp *Kethellen,30.00
lazer,Pag*SteamPag*FilarmonicamgPag*OjespPag*OjespPa...,716.40
outros,Condominio do ShoppingPg *Ton Barba BeerPag*Le...,143.50
payment,Pagamento recebidoPagamento recebidoPagamento ...,-2309.38
restaurante,Nortic FoodsPadaria e ConfeitariaPadaria e Con...,518.20
saude,Farma RosarioAcqio*Drogaria Katia DDrogaria Ar...,482.16
serviços,Padaria Pao para TodosMargo DrinkeriaPag*Miria...,280.46
supermercado,TraillerbesperancaSupermercado e PadarEspeto d...,294.33
transporte,Top99app *99appTop99app *99appTopUber *Uber *T...,631.97
vestuario,Pag*Principia,181.45

In [4]:
df_extrato['DescriÃ§Ã£o'] = df_extrato['DescriÃ§Ã£o'].str.replace('Compra de AÃ§Ãµes', 'compra acoes').str.replace('Compra no dÃ©bito', 'compra debito')

In [5]:
for a,b in df_extrato.iterrows():
    print(b)

Data                                  01/05/2024
Valor                                     -10.58
DescriÃ§Ã£o    compra debito - Supermercados Boa
Name: 0, dtype: object
Data                           02/05/2024
Valor                               -3.99
DescriÃ§Ã£o    compra debito - Irmaos Boa
Name: 1, dtype: object
Data                                   02/05/2024
Valor                                      -12.97
DescriÃ§Ã£o    compra debito - So Ofertas Jundiai
Name: 2, dtype: object
Data                                                  02/05/2024
Valor                                                    -261.21
DescriÃ§Ã£o    TransferÃªncia enviada pelo Pix - Thiago Nagat...
Name: 3, dtype: object
Data                           03/05/2024
Valor                              -11.12
DescriÃ§Ã£o    compra debito - Irmaos Boa
Name: 4, dtype: object
Data                                   03/05/2024
Valor                                      -24.95
DescriÃ§Ã£o    compra debito - So Ofertas Jundiai
Name: 5, dtype: object
Data                                    04/05/2024
Valor                                        -21.0
DescriÃ§Ã£o    compra debito - Pag*Contatojgcenter
Name: 6, dtype: object
Data                                  04/05/2024
Valor                                     -11.38
DescriÃ§Ã£o    compra debito - Supermercados Boa
Name: 7, dtype: object
Data                                                  04/05/2024
Valor                                                      -54.0
DescriÃ§Ã£o    TransferÃªncia enviada pelo Pix - Thiago Nagat...
Name: 8, dtype: object
Data                                  04/05/2024
Valor                                     -13.94
DescriÃ§Ã£o    compra debito - Supermercados Boa
Name: 9, dtype: object
Data                             05/05/2024
Valor                                 -16.0
DescriÃ§Ã£o    compra debito - Nortic Foods
Name: 10, dtype: object
Data                                                  05/05/2024
Valor                                                      119.0
DescriÃ§Ã£o    TransferÃªncia Recebida - JosÃ© Carlos da Silv...
Name: 11, dtype: object
Data                    05/05/2024
Valor                       -119.8
DescriÃ§Ã£o    Pagamento de fatura
Name: 12, dtype: object
Data                                                  05/05/2024
Valor                                                       14.0
DescriÃ§Ã£o    TransferÃªncia Recebida - Ana Maria Alves Pere...
Name: 13, dtype: object
Data                    05/05/2024
Valor                        -14.0
DescriÃ§Ã£o    Pagamento de fatura
Name: 14, dtype: object
Data                                                  05/05/2024
Valor                                                     1500.0
DescriÃ§Ã£o    TransferÃªncia recebida pelo Pix - Union Tecno...
Name: 15, dtype: object
Data                           06/05/2024
Valor                               -2.59
DescriÃ§Ã£o    compra debito - Irmaos Boa
Name: 16, dtype: object
Data                           06/05/2024
Valor                               -6.58
DescriÃ§Ã£o    compra debito - Irmaos Boa
Name: 17, dtype: object
Data           07/05/2024
Valor              -256.5
DescriÃ§Ã£o         Saque
Name: 18, dtype: object
Data                     07/05/2024
Valor                       -453.48
DescriÃ§Ã£o    compra acoes - GGBR4
Name: 19, dtype: object
Data                     07/05/2024
Valor                          0.69
DescriÃ§Ã£o    compra acoes - GGBR4
Name: 20, dtype: object
Data                     07/05/2024
Valor                       -486.94
DescriÃ§Ã£o    compra acoes - KLBN4
Name: 21, dtype: object
Data                     07/05/2024
Valor                          1.14
DescriÃ§Ã£o    compra acoes - KLBN4
Name: 22, dtype: object
Data                           07/05/2024
Valor                               -5.29
DescriÃ§Ã£o    compra debito - Irmaos Boa
Name: 23, dtype: object
Data                07/05/2024
Valor                   -260.0
DescriÃ§Ã£o    AplicaÃ§Ã£o RDB
Name: 24, dtype: object
Data                                                  08/05/2024
Valor                                                       -6.0
DescriÃ§Ã£o    TransferÃªncia enviada pelo Pix - Nathan Morel...
Name: 25, dtype: object
Data                                 08/05/2024
Valor                                      0.05
DescriÃ§Ã£o    TransferÃªncia de saldo NuInvest
Name: 26, dtype: object
Data                           09/05/2024
Valor                               -5.29
DescriÃ§Ã£o    compra debito - Irmaos Boa
Name: 27, dtype: object
Data                           10/05/2024
Valor                               -6.98
DescriÃ§Ã£o    compra debito - Irmaos Boa
Name: 28, dtype: object
Data                           10/05/2024
Valor                              -10.88
DescriÃ§Ã£o    compra debito - Irmaos Boa
Name: 29, dtype: object
Data                                   10/05/2024
Valor                                      -10.95
DescriÃ§Ã£o    compra debito - So Ofertas Jundiai
Name: 30, dtype: object
Data                                                  11/05/2024
Valor                                                       19.0
DescriÃ§Ã£o    TransferÃªncia recebida pelo Pix - VINICIUS GO...
Name: 31, dtype: object
Data                                  11/05/2024
Valor                                      -8.69
DescriÃ§Ã£o    compra debito - Supermercados Boa
Name: 32, dtype: object
Data                                                  12/05/2024
Valor                                                       36.0
DescriÃ§Ã£o    TransferÃªncia recebida pelo Pix - DIANA ROBER...
Name: 33, dtype: object
Data                                                  12/05/2024
Valor                                                      -17.0
DescriÃ§Ã£o    TransferÃªncia enviada pelo Pix - Thiago Nagat...
Name: 34, dtype: object
Data                    13/05/2024
Valor                        -31.0
DescriÃ§Ã£o    Pagamento de fatura
Name: 35, dtype: object
Data                                                  13/05/2024
Valor                                                       20.0
DescriÃ§Ã£o    TransferÃªncia Recebida - Daniely Telry Fernan...
Name: 36, dtype: object
Data                    13/05/2024
Valor                        -20.0
DescriÃ§Ã£o    Pagamento de fatura
Name: 37, dtype: object
Data                                                  13/05/2024
Valor                                                       58.0
DescriÃ§Ã£o    TransferÃªncia Recebida - Ana Maria Alves Pere...
Name: 38, dtype: object
Data                    13/05/2024
Valor                        -58.0
DescriÃ§Ã£o    Pagamento de fatura
Name: 39, dtype: object
Data                                 16/05/2024
Valor                                     10.86
DescriÃ§Ã£o    TransferÃªncia de saldo NuInvest
Name: 40, dtype: object
Data                    19/05/2024
Valor                       -11.04
DescriÃ§Ã£o    Pagamento de fatura
Name: 41, dtype: object
Data                                                  19/05/2024
Valor                                                        7.0
DescriÃ§Ã£o    TransferÃªncia recebida pelo Pix - VINICIUS GO...
Name: 42, dtype: object
Data                     20/05/2024
Valor                         -4.34
DescriÃ§Ã£o    compra acoes - KLBN4
Name: 43, dtype: object
Data                     20/05/2024
Valor                          0.01
DescriÃ§Ã£o    compra acoes - KLBN4
Name: 44, dtype: object
Data                                                  20/05/2024
Valor                                                      800.0
DescriÃ§Ã£o    TransferÃªncia recebida pelo Pix - Union Tecno...
Name: 45, dtype: object
Data                    20/05/2024
Valor                      -802.67
DescriÃ§Ã£o    Pagamento de fatura
Name: 46, dtype: object
Data                                 21/05/2024
Valor                                      0.01
DescriÃ§Ã£o    TransferÃªncia de saldo NuInvest
Name: 47, dtype: object
Data                                 24/05/2024
Valor                                      3.66
DescriÃ§Ã£o    TransferÃªncia de saldo NuInvest
Name: 48, dtype: object
Data                                 24/05/2024
Valor                                       6.8
DescriÃ§Ã£o    TransferÃªncia de saldo NuInvest
Name: 49, dtype: object

In [7]:
df = pd.DataFrame({'Teste':[12,23,23],'Teste2':[19,20,21],'Teste3':[1,2,3]})
index_ = ['Row1','Row2','Row3']

In [8]:
# Contando transações listadas em faturas por categoria.
transportes = 0
supermercado = 0
for i in df_resumo_fatura['category']:
    if(i=='transporte'):
        transportes += 1
    if(i=='supermercado'):
        supermercado += 1

print(transportes)
print(supermercado)

31
18

In [9]:
print(df_resumo_fatura['category']);

0       transporte
1        serviÃ§os
2       transporte
3        serviÃ§os
4       transporte
          ...
71    supermercado
72      transporte
73         payment
74      transporte
75      transporte
Name: category, Length: 76, dtype: object